.card {
    width: 300px;
    border: 1px solid;
    height: auto;
    /*box-shadow: 0 0 10px black;*/
    transition: 0,1s;
    border-radius: 20px ;
    margin-left: 550px;
}
.h1 {
    margin-left: 630px; 
    color: rgb(15, 21, 78);
}
.card:hover {
    box-shadow: 0 0 20px rgb(20, 19, 114);
}
.pic {
    width: 100%;
    border-bottom: 3px solid  rgb(36, 48, 80);
    margin-top: 20px;

}
.title {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    margin-left: 15px;
    border-bottom: 2px dotted rgb(69, 99, 233);
    color: rgb(44, 91, 190);

}
.huck {
    margin-left: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p1 {
    text-align: center;
    color: rgb(8, 23, 63);
}